@import 'styles';

.home {
  text-align: center;

  .title {
    font-weight: bold;
    font-size: 50px;
    line-height: 52px;
    color: $gray1;
  }

  .intro {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;

    .body {
      font-size: 28px;
      line-height: 32px;
      color: $gray2;
      margin-top: 10px;
      margin-bottom: 16px;
    }

    .else {
      font-size: 16px;
      line-height: 18px;
      color: $gray4;
    }
  }

  .how {
    background-color: #f6f6f6;
    padding: 90px 10px 1px 10px;

    .images {
      background-color: white;

      .box {
        display: inline-block;
        width: 330px;
        height: 280px;
        border-radius: 4px;
        border: dashed 1px $gray4;
        margin-right: -5px;

        .image {
          position: relative;
          width: 136px;
          height: 136px;
          top: 39px;
        }

        .top {
          font-weight: bold;
          font-size: 22px;
          line-height: 24px;
          position: relative;
          top: 60px;
          color: $gray2;
        }

        .bottom {
          font-size: 16px;
          line-height: 18px;
          position: relative;
          top: 65px;
          color: $gray4;
        }
      }
    }
  }

  .shirts {
  }

  .container {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
