@import 'styles';

.measurements {
  text-align: center;
  font-size: 16px;

  .title {
    margin-bottom: 42px;
  }

  .btn {
    margin-top: 40px;
    width: 362px;
    height: 78px;
  }

  .container {
    .base {
      display: inline-block;
      width: 500px;
      height: 680px;
      vertical-align: top;
      text-align: left;
      padding: 12px 25px 0px 25px;
    }

    .section_title {
      font-size: 22px;
      color: $gray2;
    }

    .left {
      @extend .base;

      .height {
        display: inline-block;
      }

      .weight {
        display: inline-block;
        margin-left: 40px;
      }

      .measurements {
        margin-top: 40px;

        .how {
          color: $gray2;
        }

        img {
          margin-bottom: 30px;
        }

        .part {
          width: 120px;
          text-align: right;
          display: inline-block;
          margin-right: 40px;
          margin-bottom: 5px;
        }
      }

      select {
        height: 27px;
        width: 40px;
        border-radius: 4px;
        border: solid 1px $gray1;
        font-size: 16px;
        margin-left: 5px;
      }

      input {
        height: 27px;
        width: 50px;
        border-radius: 4px;
        border: solid 1px $gray1;
        font-size: 16px;
        margin-left: 5px;
      }
    }

    .right {
      @extend .base;
      background-color: $gray3;

      .photos {
        position: relative;

        .how {
          color: $gray2;
          margin-top: 30px;
          margin-bottom: 35px;
        }

        .hidden_upload {
          overflow: hidden;
          margin: 10px;
        }

        .upload {
          position: relative;
          margin-bottom: 10px;

          .position {
            position: absolute;
            width: 50px;
            top: 25%;
          }
        }

        .btn2 {
          display: inline-block;
          width: 70px;
          height: 30px;
          font-size: 14px;
          margin-left: 45px;
          cursor: pointer;

          .label {
            position: absolute;
            top: -8px;
            left: 60px;
            height: 0px;
            cursor: pointer;
          }

          input {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 45px;
            margin: 0;
            height: 30px;
            width: 70px;
            opacity: 0;
          }
        }
      }
    }
  }
}
