@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800,700");

$font: OpenSans, sans-serif;

$gray1: #444444;
$gray2: #666666;
$gray3: #f6f6f6;
$gray4: #888888;

$blue1: #00a6ff;
$blue2: #0082c7;
